body{
    margin:0;
}
.player_score {
    border: 3px solid #FFF;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #FFF;
    font-size: 18pt;
    font-family: arial;
}
.player_power {
    position: absolute;
    border: 3px solid #FFF;
    border-radius: 50px;
    background: white;
    color: #FFF;
    font-family: arial;
}
.player_1_score {
    background: #7A0000;
    font-weight: bold;
    height: 28px;
    width: 28px;
}
.player_2_score {
    background: #006680;
    font-weight: bold;
    height: 28px;
    width: 28px;
}